// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.masthead-title {

  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  font-size:8vmin;
  padding-bottom: 5px;
  border-bottom: 1px solid #268bd2;

  a {
    -moz-transition: all .4s ease-in;
     -o-transition: all .4s ease-in;
     -webkit-transition: all .4s ease-in;
     transition: all .4s ease-in;

    color: #505050;
  }

  small {
    font-size: 50%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }
}
